<div class="form-bloco">
    <a id="a-tab-cliente" role="button" data-toggle="collapse" href="#tab-cliente" aria-expanded="false">
        <h5>
            Cliente
            <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </h5>
    </a>
    <div class="collapse formulario" id="tab-cliente">
        <fieldset class="form-group">
            <div class="row interno">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="nome-cliente">Nome do cliente</label>
                    <select class="form-control c-select">
                        <option value="001">001 - Macroservice Tecnica Comercial LTDA.</option>
                        <option value="123">123 - RM Locações</option>
                        <option value="124">124 - Supermercado Zaffari</option>
                        <option value="125">125 - Supermercado Bourbon</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <input type="text" class="form-control" placeholder="João">
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Telefone</label>
                    <input type="text" class="form-control" placeholder="(51) 3030-3030">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <button class="btn btn-secondary btn-block" type="submit"><i class="fa fa-pencil"></i><br>
                        Editar cliente
                    </button>
                </div>
                <div class="col-sm-3 pull-right col-xs-12">
                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-plus"></i><br>
                        Novo cliente
                    </button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group interno">
            <label class="c-input c-checkbox">
                <input type="checkbox" data-toggle="collapse" data-target="#outro-endereco" aria-expanded="false" aria-controls="collapseExample">
                <span class="c-indicator"></span>
                Endereço de entrega é diferente do cliente
            </label>
        </fieldset>
        <div class="collapse" id="outro-endereco">
            <div class="card card-dark card-block">
                <h5 class="collapse-titulo">Endereço para entrega</h5>
                <fieldset class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="nome-cliente">Tributo</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#add-item" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
                        </div>
                        <div class="col-sm-3 pull-right col-xs-12">
                            <button class="btn btn-primary btn-block" type="submit">Adicionar endereço</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- ************* ITENS ********************************************* -->
<div class="form-bloco lista">
    <a id="a-tab-itens" role="button" data-toggle="collapse" href="#tab-itens" aria-expanded="false">
        <h5>
            Itens
            <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </h5>
    </a>
    <div class="collapse itens-lista" id="tab-itens">
        <fieldset class="form-group">
            <div class="row interno">
                <div class="col-sm-3">
                    <h6 class="hidden-xs-down">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                    <h6 class="hidden-xs-down">Código<span class="direita">#12345</span></h6>
                    <div class="row produto">
                        <div class="col-xs-9 hidden-sm-up">
                            <h6 class="subtitle">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                            <h6 class="subinfo hidden-sm-up">Código #12345</h6>
                        </div>
                        <div class="col-xs-3 hidden-sm-up">
                            <h6 class="produto pull-right">12 unid</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto hidden-xs-down">Quantidade<span class="direita">12 unid</span></h6>
                    <h6 class="topico-produto">Preço unit.<span class="direita">R$ 100,00</span></h6>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto">Desconto<span class="direita">R$ 123,45</span></h6>
                    <h6 class="xs-bold">TOTAL<span class="direita">R$ 1234,56</span></h6>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-secondary btn-block">Ações</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Detalhes do item</a>
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" href="#">Produto base</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="divider-dashed hidden-xs-down"></div>
        <div class="divider-solid hidden-sm-up"></div>
        <fieldset class="form-group">
            <div class="row interno">
                <div class="col-sm-3">
                    <h6 class="hidden-xs-down">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                    <h6 class="hidden-xs-down">Código<span class="direita">#12345</span></h6>
                    <div class="row produto">
                        <div class="col-xs-9 hidden-sm-up">
                            <h6 class="subtitle">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                            <h6 class="subinfo hidden-sm-up">Código #12345</h6>
                        </div>
                        <div class="col-xs-3 hidden-sm-up">
                            <h6 class="produto pull-right">12 unid</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto hidden-xs-down">Quantidade<span class="direita">12 unid</span></h6>
                    <h6 class="topico-produto">Preço unit.<span class="direita">R$ 100,00</span></h6>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto">Desconto<span class="direita">R$ 123,45</span></h6>
                    <h6 class="xs-bold">TOTAL<span class="direita">R$ 1234,56</span></h6>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-secondary btn-block">Ações</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Detalhes do item</a>
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" href="#">Produto base</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="divider-dashed hidden-xs-down"></div>
        <div class="divider-solid hidden-sm-up"></div>
        <fieldset class="form-group">
            <div class="row interno">
                <div class="col-sm-3">
                    <h6 class="hidden-xs-down">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                    <h6 class="hidden-xs-down">Código<span class="direita">#12345</span></h6>
                    <div class="row produto">
                        <div class="col-xs-9 hidden-sm-up">
                            <h6 class="subtitle">Esmerilhadeira bosch 7'' modelo 222-22</h6>
                            <h6 class="subinfo hidden-sm-up">Código #12345</h6>
                        </div>
                        <div class="col-xs-3 hidden-sm-up">
                            <h6 class="produto pull-right">12 unid</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto hidden-xs-down">Quantidade<span class="direita">12 unid</span></h6>
                    <h6 class="topico-produto">Preço unit.<span class="direita">R$ 100,00</span></h6>
                </div>
                <div class="col-sm-3">
                    <h6 class="topico-produto">Desconto<span class="direita">R$ 123,45</span></h6>
                    <h6 class="xs-bold">TOTAL<span class="direita">R$ 1234,56</span></h6>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-secondary btn-block">Ações</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Detalhes do item</a>
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" href="#">Produto base</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="divider-dashed hidden-xs-down"></div>
        <div class="divider-solid hidden-sm-up"></div>

        <div class="collapse" id="add-item">
            <div class="card card-dark card-block">
              <h5 class="collapse-titulo">Novo item</h5>
                <fieldset class="form-group">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nome-cliente">Tributo</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#add-item" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
                        </div>
                        <div class="col-sm-3 pull-right col-xs-12">
                            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#add-item" aria-expanded="false" aria-controls="collapseExample">Salvar na lista</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <div class="form-group col-sm-3">
                    <h6>Retirada<span class="direita">12/12/15</span></h6>
                    <h6>Devolução<span class="direita">12/12/16</span></h6>
                </div>
                <div class="form-group col-sm-3">
                    <h6>Quant. total de itens:<span class="direita">123 unidades</span></h6>
                </div>
                <div class="form-group col-sm-3">
                    <h6>Total do Pedido:<span class="direita">R$ 12.345,67</span></h6>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <button id="btn-item"  class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#add-item" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus"></i><br>
                        Adicionar itens
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- ************* TRIBUTOS ****************************************** -->
<div class="form-bloco">
    <a id="a-tab-tributo" role="button" data-toggle="collapse" href="#tab-tributo" aria-expanded="false">
        <h5>
            Tributos
            <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </h5>
    </a>
    <div class="collapse formulario" id="tab-tributo">
        <fieldset class="form-group">
            <div class="row interno">
                <div class="form-group col-sm-3 col-xs-12">
                    <h6 class="subtitle">ICMS</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Tributo</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </fieldset>
        <div class="divider-dashed"></div>
        <fieldset class="form-group">
            <div class="row interno">
                <div class="form-group col-sm-3 col-xs-12">
                    <h6 class="subtitle">ISSQN</h6>
                </div>

                <div class="form-group col-sm-6">
                    <label for="nome-cliente">Tributo</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Tributo</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- ************* ENTREGA ******************************************* -->
<div class="form-bloco">
    <a id="a-tab-entrega" role="button" data-toggle="collapse" href="#tab-entrega" aria-expanded="false">
        <h5>
            Entrega
            <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </h5>
    </a>
    <div class="collapse formulario" id="tab-entrega">
        <fieldset class="form-group">
            <div class="row interno">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="nome-cliente">Transportadora</label>
                    <select class="form-control c-select">
                        <option value="001">001 - Macroservice Tecnica Comercial LTDA.</option>
                        <option value="123">123 - RM Locações</option>
                        <option value="124">124 - Supermercado Zaffari</option>
                        <option value="125">125 - Supermercado Bourbon</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="nome-cliente">Transportadora</label>
                    <select class="form-control c-select">
                        <option value="001">001 - Macroservice Tecnica Comercial LTDA.</option>
                        <option value="123">123 - RM Locações</option>
                        <option value="124">124 - Supermercado Zaffari</option>
                        <option value="125">125 - Supermercado Bourbon</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="row interno">
            <div class="form-group col-sm-3">
                  <label for="nome-cliente">Responsável</label>
                  <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
              </div>
              <div class="form-group col-sm-6">
                  <label for="nome-cliente">Responsável</label>
                  <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
              </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="row interno">
              <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
                <div class="form-group col-sm-3">
                    <label for="nome-cliente">Responsável</label>
                    <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </div>
          </div>
        </fieldset>
    </div>
</div>

<!-- ************* OBSERVAÇÕES *************************************** -->
<div class="form-bloco">
    <a id="a-tab-observacao" role="button" data-toggle="collapse" href="#tab-observacao" aria-expanded="false">
        <h5>
            Observações
            <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </h5>
    </a>
    <div class="collapse formulario" id="tab-observacao">
        <fieldset class="form-group">
            <div class="row interno">
                <div class="form-group col-sm-12">
                    <label for="nome-cliente">Informações Extras</label>
                    <textarea type="text" rows="5" class="form-control"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- ************* BOTOES FINAL ************************************** -->
<div class="row">
    <div class="col-sm-3 col-xs-12">
        <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#delete"><i class="fa fa-arrow-left"></i><br>
           Cancelar
        </button>
    </div>
    <div class="col-sm-3 pull-right col-xs-12">
        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-arrow-right"></i><br>
            Salvar NF
        </button>
    </div>
</div>
</div>


<!-- ************* MODAL DELETE ************************************** -->
<div class="modal fade m-t-50" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deseja excluir este conteúdo?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nome-cliente">Escreva o número do pedido para confirmar a exclusão</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Não excluir</button>
                <button type="button" class="btn btn-primary col-sm-3 pull-right">Excluir</button>
            </div>
        </div>
    </div>
</div>