<div class="form-bloco"> 
  <div class="col-sm-12 m-b-1">
    <div class="row">
      <div class="col-sm-12">
        <h3>Nota Fiscal
          <small>No {{ctrl.item.numeronf}} / Série 1</small>
        </h3>
      </div>
      <div class="col-sm-12 hidden-sm-up xs-m-t-1">
        <div class="divider-solid"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-2">
    <div class="row">
      <div class="form-group col-sm-3 col-xs-6">
        <label>OS Origem</label>
        <p><a href=""># 12345</a></p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label class="hidden-sm-down">Natureza de Operação</label>
        <label class="hidden-sm-up">Nat. Operação</label>
        <p>5.411 - Venda</p>
      </div>
      <div class="form-group col-sm-6 col-xs-12">
        <label>Chave de acesso</label>
        <p class="pontinhos"><a href="">41110701298240000187550010000012631000009791</a></p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3 col-xs-6">
        <label>Emissão</label>
        <p>11/07/2015</p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Saída</label>
        <p>11/07/2015 às 16h32</p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Total<small> (R$)</small></label>
        <p>12.345,00</p>
      </div>      
      <div class="form-group col-sm-3 col-xs-6">
        <label>Situação</label>
        <span class="label label-success">Autorizada</span>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-2">
    <div class="row">
        <span class="header">
          Cliente
          <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </span>
        <div class="col-sm-12">
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label>Nome</label>
              <p class="pontinhos">Jr e Chies Com. e Imp. de Suplem. Alim. Ltda</p>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label>Documento</label>
              <p>19.217.855/0001-05</p>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label>Telefone</label>
              <p>(54) 3027-1155</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Endereço</label>
              <p class="hidden-sm-down">R. Rodolfo Felix Laner, 1108  Cinquentenário - Caxias do Sul - RS CEP 95012-480</p>
              <p class="hidden-sm-up">R. Rodolfo Felix Laner, 1108<br>Cinquentenário - Caxias do Sul - RS<br>CEP 95012-480</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-2">
    <div class="row">
      <span class="header">
        Itens
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="form-group col-sm-12">
            <strong class="header">Descrição</strong>
          </div>
          <div class="form-group col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 m-b-2">
        <div class="row m-t-meio">
          <div class="col-sm-12 underline ">
            <a href="" class="subheader" data-toggle="collapse" href="#maoobra" aria-expanded="false" aria-controls="produto">
              <i class="fa fa-chevron-right"></i>
              <span class="subheader">Produto</span>
              <div class="pull-right">
                <strong class="header">R$ 1.073,83</strong>
              </div>
            </a>
          </div>
        </div>
        <div class="collapse in" id="ver-pecas">
          <div class="row hidden-sm-down m-t-1">
            <div class="form-group col-sm-1">
              <strong class="header">Código</strong>
            </div>
            <div class="form-group col-sm-6">
              <strong class="header">Descrição</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
             <strong class="header">Quant.</strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Unit.<small> (R$)</small></strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Total<small> (R$)</small></strong>
            </div>
          </div>
          <div class="divider-solid m-t-meio m-b-1 hidden-sm-down"></div>
          <div REPETIR>
            <div class="row m-t-1">
              <div class="form-group col-sm-1">
                <span class="hidden-sm-down">000033</span>
              </div>
              <div class="form-group col-sm-5 col-xs-12">
                <span class="hidden-sm-up">000033</span>
                <span><span class="hidden-sm-up"> - </span>Aqui vai um produto de exemplo</span>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">1 UN</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Quantidade</span>
                  <span class="xs-bold col-xs-6">1 UN</span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor Unitário</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor Total</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="col-xs-12 xs-m-t-1">
                <div class="divider-solid hidden-sm-up"></div>
              </div>                    
            </div>
            <div class="divider-solid m-t-meio hidden-sm-down"></div>
          </div>
          <div class="row">
            <div class="form-group m-t-1 col-sm-12 text-right">
              <strong class="header">Total das Peças<small> (R$)</small><span class="bloco">1.073,83</span></strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 m-b-2">
        <div class="row m-t-meio">
          <div class="col-sm-12 underline ">
            <a href="" class="subheader" data-toggle="collapse" href="#maoobra" aria-expanded="false" aria-controls="produto">
              <i class="fa fa-chevron-right"></i>
              <span class="subheader">Serviço</span>
              <div class="pull-right">
                <strong class="header">R$ 1.073,83</strong>
              </div>
            </a>
          </div>
        </div>
        <div class="collapse in" id="ver-pecas">
          <div class="row hidden-sm-down m-t-1">
            <div class="form-group col-sm-1">
              <strong class="header">Código</strong>
            </div>
            <div class="form-group col-sm-6">
              <strong class="header">Descrição</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
             <strong class="header">Quant.</strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Unit.<small> (R$)</small></strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Total<small> (R$)</small></strong>
            </div>
          </div>
          <div class="divider-solid m-t-meio m-b-1 hidden-sm-down"></div>
          <div>
            <div class="row m-t-1">
              <div class="form-group col-sm-1">
                <span class="hidden-sm-down">000033</span>
              </div>
              <div class="form-group col-sm-5 col-xs-12">
                <span class="hidden-sm-up">000033</span>
                <span><span class="hidden-sm-up"> - </span>Aqui vai um produto de exemplo</span>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">1 UN</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Quantidade</span>
                  <span class="xs-bold col-xs-6">1 UN</span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor Unitário</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor Total</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="col-xs-12 xs-m-t-1">
                <div class="divider-solid hidden-sm-up"></div>
              </div>                    
            </div>
            <div class="divider-solid m-t-meio hidden-sm-down"></div>
          </div>
          <div class="row">
            <div class="form-group m-t-1 col-sm-12 text-right">
              <strong class="header">Total das Peças<small> (R$)</small><span class="bloco">1.073,83</span></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-2">
    <div class="row">
      <span class="header">
        Cálculo dos Impostos
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12">
        <div class="collapse in" id="ver-pecas">
          <div class="row hidden-sm-down m-t-meio">
            <div class="form-group col-sm-6">
              <strong class="header">Imposto</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
              <strong class="header">Base</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
              <strong class="header">Alíquota</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
              <strong class="header">Retenção</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
             <strong class="header">Substituição</strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor<small> (R$)</small></strong>
            </div>
          </div>
          <div class="divider-solid m-t-meio m-b-1 hidden-sm-down"></div>
          <div REPETIR>
            <div class="row m-t-1">
              <div class="form-group col-sm-6 col-xs-12">
                <span class="hidden-sm-down">ICMS</span>
                <span class="subheader hidden-sm-up">ICMS</span>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down">99 %</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Base</span>
                  <span class="xs-bold col-xs-6">99 %</span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down"> - </span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Alíquota</span>
                  <span class="xs-bold col-xs-6"> - </span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down">99 %</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Retenção</span>
                  <span class="xs-bold col-xs-6">99 %</span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down"> - </span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Substituição</span>
                  <span class="xs-bold col-xs-6"> - </span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">1234,56</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor</span>
                  <span class="xs-bold col-xs-6">R$ 1234,56</span>
                </div>
              </div>
              <div class="col-xs-12 xs-m-t-1 xs-m-b-meio">
                <div class="divider-solid hidden-sm-up"></div>
              </div>
            </div>
            <div class="divider-solid m-t-meio hidden-sm-down"></div>
          </div>

          <div NÃO REPETIR, só exemplo de lista>
            <div class="row m-t-1">
              <div class="form-group col-sm-6 col-xs-12">
                <span class="hidden-sm-down">Previdência Social</span>
                 <span class="subheader hidden-sm-up">Previdência Social</span>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down"> - </span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Base</span>
                  <span class="xs-bold col-xs-6"> - </span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down"> - </span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Alíquota</span>
                  <span class="xs-bold col-xs-6"> - </span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down">99 %</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Retenção</span>
                  <span class="xs-bold col-xs-6">99 %</span>
                </div>
              </div>
              <div class="form-group col-sm-1 col-xs-12 text-right">
                <span class="hidden-sm-down">99 %</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Substituição</span>
                  <span class="xs-bold col-xs-6">99 %</span>
                </div>
              </div>
              <div class="form-group col-sm-2 col-xs-12 text-right">
                <span class="hidden-sm-down">1234,56</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up m-b-meio"></div>
                  <span class="col-xs-6 text-left">Valor Total</span>
                  <span class="xs-bold col-xs-6">R$ 1234,56</span>
                </div>
              </div>
              <div class="col-xs-12 xs-m-t-1">
                <div class="divider-solid hidden-sm-up"></div>
              </div>
            </div>
            <div class="divider-solid m-t-meio hidden-sm-down"></div>
          </div>
              
          <div class="row">
            <div class="form-group m-t-1 col-sm-12 text-right">
              <strong class="header">Total dos Impostos<small> (R$)</small><span class="bloco">1.073,83</span></strong>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-2">
    <div class="row">
      <span class="header">
        Totais
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="form-group col-sm-3 col-xs-6">
            <label>Produtos<small> (R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Serviços<small> (R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Impostos<small> (R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Total<small> (R$)</small></label>
            <p>12.345,00</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 hidden-sm-down">
        <div class="form-group">                
          <button type="button" class="btn  btn-secondary col-sm-3"><i class="fa fa-arrow-left bloco"></i>
          Voltar
          </button>
          <button type="button" class="btn  btn-primary col-sm-3 pull-right"><i class="fa fa-print bloco"></i>
            Imprimir DANFE
          </button>
        </div>
      </div>
      <div class="col-xs-12 hidden-sm-up">
        <div class="form-group">                
          <button type="button" class="btn  btn-secondary metade pull-left"><i class="fa fa-arrow-left bloco"></i>
          Voltar
          </button>
          <button type="button" class="btn  btn-primary metade pull-right"><i class="fa fa-print bloco"></i>
            Imprimir DANFE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


