<div class="form-bloco"> 
  <div class="col-sm-12 m-b-3">
    <div class="row">
      <div class="col-sm-12">
        <h3>Nota Fiscal
          <small>No {{ctrl.item.numeronf}} / Série 1</small>
        </h3>
      </div>
      <div class="col-sm-12 hidden-sm-up">
        <div class="divider-solid"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-3">
    <div class="row">
      <div class="form-group col-sm-3 col-xs-6">
        <label>OS Origem</label>
        <p><a href=""># 12345</a></p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Natureza de Operação</label>
        <p>5.411 - Venda</p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Total<small> (R$)</small></label>
        <p>12.345,00</p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Situação</label>
        <span class="label label-success">Autorizada</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3 col-xs-6">
        <label>Emissão</label>
        <p>11/07/2015</p>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <label>Saída</label>
        <p>11/07/2015 às 16h32</p>
      </div>
      <div class="form-group col-sm-6 col-xs-12">
        <label>Chave de acesso</label>
        <p><a href="">41110701298240000187550010000012631000009791</a></p>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-3">
    <div class="row">
        <span class="header">
          Emitente
          <i class="fa fa-chevron-down pull-right girar-baixo"></i>
        </span>
        <div class="col-sm-12">
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label>Nome</label>
              <p>Jr e Chies Com. e Imp. de Suplem. Alim. Ltda</p>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label>Documento</label>
              <p>19.217.855/0001-05</p>
            </div>
            <div class="form-group col-sm-3 col-xs-6">
              <label>Telefone</label>
              <p>(54) 3027-1155</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Endereço</label>
              <p class="hidden-sm-down">R. Rodolfo Felix Laner, 1108  Cinquentenário - Caxias do Sul - RS CEP 95012-480</p>
              <p class="hidden-sm-up">R. Rodolfo Felix Laner, 1108<br>Cinquentenário - Caxias do Sul - RS<br>CEP 95012-480</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-3">
    <div class="row">
      <span class="header">
        Ítens
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="form-group col-sm-12">
            <strong class="header">Descrição</strong>
          </div>
          <div class="form-group col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="col-sm-12 underline ">
            <a href="" class="subheader" data-toggle="collapse" href="#maoobra" aria-expanded="false" aria-controls="produto">
              <i class="fa fa-chevron-right"></i>
              <span class="subheader">Produto</span>
              <div class="pull-right">
                <strong class="header">R$ 1.073,83</strong>
              </div>
            </a>
          </div>
        </div>
        <div class="collapse in" id="ver-pecas">
          <div class="row hidden-sm-down m-t-1">
            <div class="form-group col-sm-1">
              <strong class="header">Código</strong>
            </div>
            <div class="form-group col-sm-6">
              <strong class="header">Descrição</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
             <strong class="header">Quant.</strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Unit.<small> (R$)</small></strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Total<small> (R$)</small></strong>
            </div>
          </div>
          <div class="divider-solid m-b-1 hidden-sm-down"></div>
          <div>
            <div class="row">
              <div class="form-group col-sm-1">
                <span class="hidden-sm-down">000033</span>
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <span class="hidden-sm-up">000033</span>
                <span>PRODUTO (???)</span>
              </div>
              <div class="form-group col-sm-1 text-right">
                <span class="hidden-sm-down">1 UN</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Quantidade</span>
                  <span class="xs-bold col-xs-6">1 UN</span>
                </div>
              </div>
              <div class="form-group col-sm-2 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Valor Unitário</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="form-group col-sm-2 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Valor Total</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="xs-m-t-2">
                <div class="divider-solid hidden-sm-up"></div>
              </div>                    
            </div>
            <div class="divider-solid hidden-sm-down"></div>
          </div>
          <div class="row">
            <div class="form-group m-t-1 col-sm-12 text-right">
              <strong class="header">Total das Peças<small>(R$)</small><span class="bloco">1.073,83</span></strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="col-sm-12 underline ">
            <a href="" class="subheader" data-toggle="collapse" href="#maoobra" aria-expanded="false" aria-controls="produto">
              <i class="fa fa-chevron-right"></i>
              <span class="subheader">Serviço</span>
              <div class="pull-right">
                <strong class="header">R$ 1.073,83</strong>
              </div>
            </a>
          </div>
        </div>
        <div class="collapse in" id="ver-pecas">
          <div class="row hidden-sm-down m-t-1">
            <div class="form-group col-sm-1">
              <strong class="header">Código</strong>
            </div>
            <div class="form-group col-sm-6">
              <strong class="header">Descrição</strong>
            </div>
            <div class="form-group col-sm-1 text-right">
             <strong class="header">Quant.</strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Unit.<small> (R$)</small></strong>
            </div>
            <div class="form-group col-sm-2 text-right">
              <strong class="header">Valor Total<small> (R$)</small></strong>
            </div>
          </div>
          <div class="divider-solid m-b-1 hidden-sm-down"></div>
          <div>
            <div class="row">
              <div class="form-group col-sm-1">
                <span class="hidden-sm-down">000033</span>
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <span class="hidden-sm-up">000033</span>
                <span>SERVIÇO (???)</span>
              </div>
              <div class="form-group col-sm-1 text-right">
                <span class="hidden-sm-down">1 UN</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Quantidade</span>
                  <span class="xs-bold col-xs-6">1 UN</span>
                </div>
              </div>
              <div class="form-group col-sm-2 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Valor Unitário</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="form-group col-sm-2 text-right">
                <span class="hidden-sm-down">380,00</span>
                <div class="row hidden-sm-up">
                  <div class="divider-dashed hidden-sm-up"></div>
                  <span class="col-xs-6 text-left">Valor Total</span>
                  <span class="xs-bold col-xs-6">380,00</span>
                </div>
              </div>
              <div class="xs-m-t-2">
                <div class="divider-solid hidden-sm-up"></div>
              </div>                    
            </div>
            <div class="divider-solid hidden-sm-down"></div>
          </div>
          <div class="row">
            <div class="form-group m-t-1 col-sm-12 text-right">
              <strong class="header">Total das Peças<small>(R$)</small><span class="bloco">1.073,83</span></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-3">
    <div class="row">
      <span class="header">
        Cálculo dos Impostos
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12">
        <div class="row">
          <table class="table table-responsive">
            <colgroup span="4">
              <col width="50%">
              <col width="12%">
              <col width="12%">
              <col width="13%">
              <col width="13%">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th><strong>Base</strong></th>
                <th><strong>Alíquota</strong></th>
                <th><strong>Substituição</strong></th>
                <th><strong>Retenção</strong></th>
                <th><strong>Valor</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>ICMS</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>ICMS ST</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>IPI</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>PIS</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              <tr>
              <tr>
                <td><strong>PIS sobre Serviços</strong></td>
                <td> - </td>
                <td> - </td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>
              <tr>
              <tr>
                <td><strong>COFINS</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>COFINS sobre Serviços</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td>0 %</td>
                <td>0 %</td>
              </tr>
              <tr>
                <td><strong>CSSL</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>ISS</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>ISSQN</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>INSS</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>IRRF</strong></td>
                <td> - </td>
                <td> - </td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>
              </tr>
              <tr>
                <td><strong>Previdência Social</strong></td>
                <td> - </td>
                <td> - </td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>
              </tr>
              <tr>
                <td><strong>CSLL</strong></td>
                <td> - </td>
                <td> - </td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>
              </tr>
              <tr>
                <td><strong>Importação</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>Frete</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>Seguro</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>Despesas Acessórias</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>Outros Impostos</strong></td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>                      
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>0 %</td>
              </tr>
            </tbody>
          </table>
        </div>              
      </div>
    </div>
  </div>
</div>

<div class="form-bloco">
  <div class="col-sm-12 m-b-3">
    <div class="row">
      <span class="header">
        Totais
        <i class="fa fa-chevron-down pull-right girar-baixo"></i>
      </span>
      <div class="col-sm-12 m-b-2">
        <div class="row">
          <div class="form-group col-sm-3 col-xs-6">
            <label>Produtos <small>(R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Serviços <small>(R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Impostos <small>(R$)</small></label>
            <p>12.345,00</p>
          </div>
          <div class="form-group col-sm-3 col-xs-6">
            <label>Total <small>(R$)</small></label>
            <p>12.345,00</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 hidden-sm-down">
        <div class="form-group">                
          <button type="button" class="btn btn-sm btn-secondary col-sm-3"><i class="fa fa-print bloco"></i>
          Voltar
          </button>
          <button type="button" class="btn btn-sm btn-primary col-sm-3 pull-right"><i class="fa fa-cog bloco"></i>
            Imprimir DANFE
          </button>
        </div>
      </div>
      <div class="col-xs-12 hidden-sm-up">
        <div class="form-group">                
          <button type="button" class="btn btn-sm btn-secondary metade"><i class="fa fa-arrow-left bloco"></i>
          Voltar
          </button>
          <button type="button" class="btn btn-sm btn-primary metade"><i class="fa fa-print bloco"></i>
            Imprimir DANFE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


