/********************** Básicos ******************************/
html{
	overflow-y: scroll;
}
.container{
	margin-top: 2.5em;
	padding-left: 0;
	padding-right: 0;
}
.navbar-nav .nav-link{
	padding: 0.8em 0 0.5em; 
}
.hidden{
	display: none;
}
.bloco{
	display: block;
}
.nowrap{
	white-space: nowrap;
}
@media screen and (max-width: 34em) {
	.xs-pull-right{
		float: right;
	}
}

/********************** Margins e Paddings ******************************/
@media screen and (max-width: 34em) {    
    .xs-m-1{
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.xs-m-2{
		margin-top: 2em;
		margin-bottom: 2em;
	}    
	.xs-m-t-meio{
		margin-top: 0.5em;
	}
    .xs-m-t-1{
		margin-top: 1em;
	}
	.xs-m-t-2{
		margin-top: 2em;
	}
	.xs-m-b-meio{
		margin-bottom: 0.5em;
	}
	.xs-m-b-1{
		margin-bottom: 1em;
	}
	.xs-m-b-2{
		margin-bottom: 2em;
	}
	.xs-m-b-3{
		margin-bottom: 3em;
	}
	.xs-interno{
    	padding-left: 1em;
    	padding-right: 1em;
    }
}
@media screen and (min-width: 34em) {
	.sm-m-t-menos1{
		margin-top: -1em;
	}
	.sm-m-t-menos2{
		margin-top: -2em;
	}
	.sm-m-b-1{
		margin-bottom: 1em;
	}
	.sm-m-b-2{
		margin-bottom: 2em;
	}
	.sm-m-b-3{
		margin-bottom: 3em;
	}
	.sm-m-b-4{
		margin-bottom: 4em;
	}
	.sm-m-t-1{
		margin-top: 1em;
	}
	.sm-m-t-2{
		margin-top: 2em;
	}
}
.m-meio{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.m-1{
	margin-top: 1em;
	margin-bottom: 1em;
}
.m-2{
	margin-top: 2em;
	margin-bottom: 2em;
}
.m-3{
	margin-top: 3em;
	margin-bottom: 3em;
}
.m-t-menos2{
	margin-top: -2em;
}
.m-t-menos1{
	margin-top: -1em;
}
.m-t-meio{
	margin-top: 0.5em;
}
.m-t-1{
	margin-top: 1em;
}
.m-t-2{
	margin-top: 2em;
}
.m-t-3{
	margin-top: 3em;
}
.m-t-4{
	margin-top: 4em;
}
.m-b-menos1{
	margin-bottom: -1em;
}
.m-b-0{
	margin-bottom: 0;
}
.m-b-meio{
	margin-bottom: 0.5em;
}
.m-b-1{
	margin-bottom: 1em;
}
.m-b-2{
	margin-bottom: 2em;
}
.m-b-3{
	margin-bottom: 3em;
}
.m-b-4{
	margin-bottom: 4em;
}
.m-b-5{
	margin-bottom: 5em;
}
.m-b-6{
	margin-bottom: 6em;
}
.m-l-menos3{
	margin-left: -3.6em;
}
.p-1{
	padding: 1em;
}
.p-t-1{
	padding-top: 1em;
}
.p-t-2{
	padding-top: 2em;
}
.p-t-3{
	padding-top: 3em;
}
.p-b-1{
	padding-bottom: 1em;
}
.p-b-1{
	padding-bottom: 1em;
}
.p-b-2{
	padding-bottom: 2em;
}
.p-l-1{
	padding-left: 1em;
}
.p-l-2{
	padding-left: 2em;
}
.p-l-3{
	padding-left: 3em;
}
.p-r-1{
	padding-right: 1em;
}
.p-r-2{
	padding-right: 2em;
}
.p-r-3{
	padding-right: 3em;
}

/********************** Tipografia ******************************/
span.header{
	font-size: 1.23em;
	font-weight: 700;
	color: #3498db;
	display: block;
	padding: 0 15px 0.5em 15px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 1rem;
}
.subheader{
	font-size: 1.1em;
	/*font-weight: 400;*/
	color: #3498db;	
	margin: 1em 0 0;
}
.h3, h3{
	color: #3498db;
	padding-bottom: 0.8em;
	margin: 0.5em 0 1em;
	font-weight: bold;
}
h3 small{
	color: #bdc3c7;
	font-size: 70%;
	font-weight: normal;
	padding-left: 0.5em;
}
span small{
	color: #bdc3c7;
	font-size: 80%;
	padding-left: 0.5em;
}
@media screen and (max-width: 34em) {
    h3{
    	margin-bottom: 0;
    	padding-bottom: 0;		
    }
    h3 small{
		display: block;
		padding: 0.75em 0 0 0;
	}
}
.pontinhos{
  	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
@media screen and (max-width: 34em) {
    .xs-bold{
    	font-weight: bold;
    }
}

/********************** Forms e inputs ******************************/
span.medida{
	margin-top: -2em;
	padding-right: 1em;
	padding-left: 1em;
}
.multi-select{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-left: 0.5em;
}
.multi-input{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;	
}
.table thead th{
	padding-top: 0.2em;
	border-top: transparent;
	border-bottom-width: 1px;
}
.form-group{
	margin-bottom: 1em;
}
.form-control{
	font-size: 1em;
}
input{
	height: 2.5em;
}
input[type="checkbox"]{
	height: 0.9em;
}

/********************** Icones e imagens ******************************/
.btn{
	padding: 0.45em 0.5em;
	font-size: 1em;
}
.fa{
	line-height: 1.6em;
}
.quarto{
	min-width: 22.5%;
}
.terco{
	min-width: 32.5%;
}
.metade{
	min-width: 47.5%;
}
.tres-quartos{
	min-width: 73.5%;
}
.fa-padding{
	padding-right: 0.2em;
}
label{
	display: block;
	font-weight: 600;
}
.label{
	white-space: normal;
	line-height: 1rem;
	margin-bottom: 0.4em;
	text-align: left;
}
.label-white{
	color: white;
}

