@media screen and (max-width: 34em) {
    .xs-m-t-1{
		margin-top: 1em;
	}
}
.m-t-1{
		margin-top: 1em;
	}
.m-t-2{
	margin-top: 2em;
}
.m-b-1{
	margin-bottom: 1em;
}
.m-b-2{
	margin-bottom: 2em;
}
.p-r-2{
	padding-right: 2em;
}
.hidden{
	display: none;
}
.container{
	margin-top: 2.5em;
}
.divider-solid{
	border-bottom: 1px solid #f1f1f1;
    margin: 0 -15px 1.5em -15px;
    overflow: hidden;
}
.divider-dashed{
	border-bottom: 1px dotted #bdc3c7;
    margin: 0 0 1.5em 0;
    overflow: hidden;
}
.form-bloco{
	margin-bottom: 3em;
}
@media screen and (max-width: 34em) {
    .interno{
		padding: 0 1.25em;
	}
	.topico-produto{
		border-bottom: 1px dashed #ccc;
		padding: 0 0 0.8em 0;
		margin: 0 0 0.8em 0;
	}
	.row.produto{
		margin-bottom: 0.8em;
	}
}
input{
	height: 2.5em;  /*sem essa regra os inputs de data quebram na altura*/
}
.lista button{
	font-size: 0.80rem;
}
.btn-group.btn-block .btn-block{
	width: 80%;
}
@media screen and (max-width: 34em) {
    .btn-group.btn-block{
		margin: 1em 0;
	}
}
.btn-group.btn-block .dropdown-toggle{
	width: 20%;
}
@media screen and (max-width: 34em) {
    span.direita{
		float: right !important;
	}
}
label{
	display: block;
	font-weight: 600;
}
.label{
	/*display: block;  todos labels da mesma largura*/
	white-space: normal;
	line-height: 1rem;
	margin-bottom: 0.4em;
	text-align: left;
}

/********************** Tipografia ******************************/
.menu h5{
	margin: 0.85em 0 1.3em;
}
.menu h5 i{
	margin: 0 0.5em 0 0;
}
.h3, h3{
	color: #3498db;
	padding-bottom: 0.8em;
	margin: 0.5em 0 1em;
	font-weight: bold;
}
h3 small{
	color: #bdc3c7;
	font-size: 70%;
	font-weight: normal;
	padding-left: 0.5em;
}
@media screen and (max-width: 34em) {
    h3{
    	margin-left: 20px;
    	padding-bottom: 0.8em;		
    }
    h3 small{
		display: block;
		padding: 0.75em 0 0 0;
	}
}
.form-bloco h5.collapse-titulo{
	padding-bottom: 0.8em;
	margin-bottom: 0.8em;
}
span{
	display: block;
}
span.header{
	font-size: 1.23em;
	font-weight: 700;
	color: #3498db;
	display: block;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 0.5em;
}
span.subheader{
	font-size: 1.1em;
	font-weight: 400;
	color: #3498db;
	display: block;
	margin: 1em 0 ;
}
.form-bloco .itens-lista span{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-bloco .formulario span.form{
	height: 2.5em;
	padding: 0.7em 0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*********************** MENUS animados *************************/
.menu button{
	margin-bottom: 1.5em;
}
.menu .btn-block .fa{
	padding-right: 1em;
}
.menu{
	top: 81px;
	right: -420px;
	width: 420px;
	padding: 20px;
	position: fixed;
	float: right;
	background-color: #f1f1f1;
	border: 1px solid #e3e3e3;
	border-right: 0px;
	padding: 0 10px;
	z-index: 1;
	transition: 0.5s ease;
}
.menu.aberto{
	right: 0;
	transition: 0.5s ease;
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);
	z-index: 2;
}
#btn-menu{
	top: 81px;
	right: 0px;
	width: 50px;
	height: 50px;
	position: fixed;
	float: right;
	background-color: #f1f1f1;
	z-index: 1;
	vertical-align: center;
	padding: 5px;
	border: 0;
	border-radius: 0;
	transition: 0.5s ease;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #f1f1f1;
    margin-right: -1px;
    margin-top: 0;
}
#btn-menu.aberto{
	right: 0px;
	transition: 0.5s ease;
	border:0;
	border-top: 1px solid #e3e3e3;
	box-shadow: none;
}
#btn-menu.aberto:hover{
	box-shadow: none;
}