@font-face {
    font-family: 'Open Sans';
    src: url('/font/opensans-regular-webfont.eot');
	src: url('/font/opensans-regular-webfont.eot') format('eot'),
		 url('/font/opensans-regular-webfont.woff') format('woff'),
		 url('/font/opensans-regular-webfont.ttf') format('truetype'),
		 url('/font/opensans-regular-webfont.svg') format('svg');
}
body{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
.navbar{
	border-radius: 0;
}
.navbar-dark{
	background-color: #34495e;
}
.navbar-dark .navbar-nav .nav-link{
	color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: rgba(255, 255, 255, 1);
}
.btn-primary{
	background-color: #3498db;
}
.btn-primary:hover,
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .btn-primary.dropdown-toggle{
	background-color: #2980b9;
}
.label-primary {
    background-color: #3498db;
}
a:hover,
a:focus{
	text-decoration: none;
}
.azul-zeta{
    color: #34495e;
}
.bg-ff{
    background-color: #ffffff; 
}
.bg-f1{
    background-color: #f1f1f1; 
}
.bg-azul-zeta{
    background-color: #34495e; 
}
.btn.bg-azul-zeta{
    color: white;
    background-color: #34495e;
}
.btn.bg-azul-zeta:hover,
.btn.bg-azul-zeta:focus, 
.btn.bg-azul-zeta.focus, 
.btn.bg-azul-zeta:active, 
.btn.bg-azul-zeta.active, 
.open > .btn.bg-azul-zeta.dropdown-toggle{
    color: white;
    background-color: #2c3e50;
}
.info,
span.header.info{
	color: #5bc0de;
	border-color: #34495e;
}

/********************** Dividers e sublinhados ******************************/
.underline{
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eaeaea;
}
.bg-f1 .underline{
	border-bottom: 1px solid #d8d8d8;
}
@media screen and (max-width: 34em) {
    .underline-borda{
		border-bottom-right-radius:0; 
		border-right:0;
	}	
}
.divider-v-solid{ 
	/* divider vertical*/
	border: 1px solid #eaeaea;
	min-height: 5.5em;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	margin-bottom: -15px;
}
.divider-solid{
	border-bottom: 1px solid #eaeaea;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.divider-dashed{
	border-bottom: 1px dotted #e0e0e0;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
@media screen and (max-width: 34em) {
    .divider-solid{
		border-bottom: 1px solid #eaeaea;
	    overflow: hidden;
	}
	.divider-dashed{
		border-bottom: 1px dotted #e0e0e0;
		margin-left: 0px;
    	margin-right: 0px;
	    overflow: hidden;
	}	
}
.bg-f1 .divider-solid{
	border-color: #d8d8d8;
}

.borda{
	border: 1px solid #eaeaea;
	margin-top: -1px;
}



.nav-tabs,
.nav-tabs .nav-link{
	border: none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus, 
.nav-tabs .nav-link.active:hover, 
.nav-tabs .nav-item.open .nav-link, 
.nav-tabs .nav-item.open .nav-link:focus, 
.nav-tabs .nav-item.open .nav-link:hover
{
	background-color: #f1f1f1;
}
