<div class="menu-right hidden-xs-down">
  <button id="btn-menu-right" class="btn btn-default">
    <i id="fa-search" class="fa fa-search fa-lg"></i>
    <i id="fa-times-search" class="hidden fa fa-times fa-lg"></i>
  </button>
  <div class="col-sm-12">
    <h5><i class="fa fa-search"></i>Pesquisa</h5>

      <fieldset class="form-group">
        <label>Termos</label>
        <input type="text" class="form-control" id="pesquisa">
      </fieldset>

      <fieldset class="form-group">
        <label>Chave de acesso</label>
        <input type="text" class="form-control" placeholder="43150803253626000106550000000089381000200606">
      </fieldset>

      <fieldset class="form-group">
        <label>Período</label>
        <div class="row">
          <div class="col-sm-6">
            <input type="date" class="form-control" placeholder="dd/mm/aa">
          </div>
          <div class="col-sm-6">
            <input type="date" class="form-control" placeholder="dd/mm/aa">
          </div>
        </div>
      </fieldset>

      <button class="btn btn-primary btn-block" type="submit">
        Procurar Pedido
      </button>
  </div>
</div>
