<div class="menu hidden-xs-down">
  <button id="btn-menu" class="btn btn-default">
      <i id="fa-search" class="fa fa-cogs fa-lg"></i>
      <i id="fa-times-search" class="hidden fa fa-times fa-lg"></i>
  </button>
  <div class="col-sm-12">
      <h5><i class="fa fa-cogs"></i>Controles</h5>
      <a href="nova_nota.html" class="btn btn-primary btn-block" type="button">
          <i class="fa fa-plus"></i> Nova nota
      </a>  
      <button class="btn btn-primary btn-block" type="submit">
          <i class="fa fa-file-o"></i>Ler da origem
      </button>            
  </div>
</div>